# Arquivos de compilacao
*.o
*.exe
*.bin

# Diretorios de compilacao
obj/
bin/

# Configuracoes de IDE
.vscode/
.idea/
*.code-workspace

# Arquivos temporarios
*.tmp
*.log
*~

# Arquivos de sistema
.DS_Store
Thumbs.db
